input{
    width: 600px;
    height: 50px;
    background-color: #DACED0;
    margin-top: 8px;
    border-radius: 10px;
    outline: none;
    color: gray;
    border: none;
    padding-left: 20px;
}
.number-complete{
    font-size: 40px;
}